<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football House | Edit Post | {{current_user.username}}</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
</head>
<body>
    {% extends 'base.html' %}
    {% block  content %}
    <br>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}


    <div style="text-align: center;">
        <form method="POST" enctype="multipart/form-data" class="container">
            <fieldset>
            <legend style="font-size:30px; color: red;">Edit Post</legend>
            <label> Edit Content: </label>
            <textarea name="content" rows="4" class='form-control'>{{ edit_post.content }}</textarea>    
            <br>
            <br>{{form.submit(class="btn btn-danger btn-sm")}}
            </fieldset>
        </form>

    {% endblock %}
</body>
</html>