<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg  bg-danger">
        <div class="container-fluid">
            <nav class="navbar navbar-light bg-light">
                <div class="">
                  <a >
                    <img src="{{url_for('static', filename='images/FHWEB.jpg')}}" alt="" width="190" height="45">
                  </a>
                </div>
              </nav>
          <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('home')}}" style="color: white;">Home</a>
              </li>

              {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for ('Profile')}}" style="color: white;">Profile</a>
                </li>
                {% if current_user.id == 1 %}
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for ('admin')}}" style="color: white;">Admin</a>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for ('LogOut')}}" style="color: white;">Logout</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for ('SignUp')}}" style="color: white;">Login/Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for ('SignIn')}}" style="color: white;">Sign In</a>
                </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for ('posts')}}" style="color: white;">Posts</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: white;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Leagues
                </a>
                <ul class="dropdown-menu bg-danger" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Premier League</a></li>
                  <li><a class="dropdown-item" href="#">La Liga</a></li>
                  <li><a class="dropdown-item" href="#">Serie A</a></li>
                  <li><a class="dropdown-item" href="#">Ligue 1</a></li>
                  <li><a class="dropdown-item" href="#">Bundesliga</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" style="color: white;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Competitions
                </a>
                <ul class="dropdown-menu bg-danger" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">World Cup</a></li>
                  <li><a class="dropdown-item" href="#">UEFA Champions League</a></li>
                  <li><a class="dropdown-item" href="#">UEFA Europa League</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" style="color: white;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Games
                </a>
                <ul class="dropdown-menu bg-danger" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">e-Football</a></li>
                  <li><a class="dropdown-item" href="#">FIFA Mobile</a></li>
                  <li><a class="dropdown-item" href="#">Dream League</a></li>
                  <li><a class="dropdown-item" href="#">Fantasy Premier League</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" method="POST" action="{{ url_for('search')}}">
              {{form.hidden_tag() }}
              <input class="form-control me-2" type="search" placeholder="Search Posts" aria-label="Search" name="searched">
              <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
</body>
</html>