<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block  content %}

    {% for message in get_flashed_messages() %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <h1>Blog Posts</h1><br>
    {% for post in posts %}
    <div class="shadow p-3 mb-5 bg-body rounded">
        <b>{{post.title}}</b>
        By: {{post.author}} <br>
        {{post.content}} <br>
        On: {{post.date_posted}} <br><br>
        <a href="{{ url_for ('fullpost', id = post.id)}}" class="btn btn-danger btn-sm">View Post</a>
        <a href="{{ url_for ('edit_post', id = post.id)}}" class="btn btn-danger btn-sm">Edit Post</a>
        <a href="{{ url_for ('delete_post', id = post.id)}}" class="btn btn-danger btn-sm">Delete Post</a>
    </div>
    {% endfor %}
    <br>

    
    {% endblock %}
</body>
</html>